<p>
As part of our commitment to supporting the broad adoption of Agile methods, the Agile Alliance hosts an annual conference. Agilists the world over come together for an exciting week of exchanging ideas, meeting peers, and furthering the practice. (Alliance members are entitled to discounted registration.)
</p>
<p>
The Conference Archive is our permanent record of sessions held at the annual conference. It provides easy access to conference descriptions and supporting materials (papers, presentations, and videos).
</p>
<p>
The published Web sites of past conferences are also <a href="http://www.agilealliance.org/resources/conferences/">available</a>, for the most part, in their original form.
</p>
