<h1>				Learning Center				</h1>						
<p><span><span>Wecome</span></span> to the Agile Alliance Learning Center.   Please utilize these  learning resources to explore and apply Agile principles and practices  to make the software industry more productive, humane and sustainable.   <em><br />(please note: recording, downloading or redistribution of content is strictly prohibited)</em></p>
<p>Not a Member yet? <a href="http://agilealliance.org/membership/" target="_blank">click here to learn about Membership. </a></p>