<h2>For Members and Subscribers Only</h2>
<p>This page may be accessed by Members of the Agile Alliance, and Subscribers to the FREE Agile Alliance Newsletter.</p>
<ul>
  <li><strong>Members</strong>, please log in below to access ALL content.</li>
  <li><strong>Non-Members</strong>, click the button below to confirm your Subscription, </li>
  <li>OR to subscribe to our FREE Newsletter and get instant access to all Subscriber level content.</li>
</ul>
<p>After Login, refresh your page if necessary.</p>
<p>&nbsp;</p>
<a href="http://cf.agilealliance.org/membership/login.cfm" class="popup button standalone"><strong>Member Login</strong></a>
<p style="text-align:center;margin:2em 0;">- or -</p>
<a href="http://cf.agilealliance.org/subscribers/login.cfm" class="popup button standalone"><strong>Subscribe / Confirm Subscription</strong></a>